{% extends "layout.html"%}

{%block title%}
    Service
{% endblock %}

{%block content%}
    <section class="service" id="service">
        <h2 class="heading"> Services</h2>

        <div class="service-container">
            <div class="service-box">
                <div class="service-info">
                    <h4>Graphics Designer</h4><br>
                    <p>
                        Expert graphic design services for businesses and individuals. From logos to brochures, I create visually stunning designs that capture your brand's essence <br>
                        --Elevate your brand's visual identity with professional graphic design. <br>
                        
                    </p>
                    <div class="btn-group">
                        <a href="{% url 'JOBS:jobs'%}" class="btn"> view my previouse designs</a>
                        <a href="/#contact" class="btn"> Contact</a>
                    </div>
                </div>
                
            </div>

            <div class="service-box">
                <div class="service-info">
                    <h4>Web Developer</h4><br>
                    <p>
                        Expert web development services for businesses and individuals. I build fast, secure, and user-friendly websites that drive results. <br>
                        --Expertise in HTML, CSS, JavaScript, and more
                    </p>
                    <div class="btn-group">
                        <a href="{% url 'JOBS:jobs'%}" class="btn"> view my recent designs</a>
                        <a href="/#contact" class="btn"> Contact</a>
                    </div>   
            </div>
        </div>
    </section>

{% endblock %}
</body>
</html>