{% extends 'layout.html' %}

{% block title%}
  Recent Jobs
{% endblock %}


{% block content%}
  <section class="job" id="testimonial">
    <h2 class="heading">Designs</h2>
        <div class="job-box">
            
            
            <div class="wrapper">
              {% for x in pics %}
                <div class="job-items">
                      <a href="{{x.image.url}}" target="_blank"><img src="{{x.image.url}}" class="img-fluid" alt="Responsive Image" ></a>
                      <h3 class="lead">{{x.caption}}</h3>
                      <div class="social-icon">
                        <a href="{{x.image.url}}" download><i class='bxl  bx-arrow-down-stroke-circle'></i>
                          <a href="/#contact"><i class='bxr  bx-mail-open'></i></a>
                        </a>
                        <a href="https://wa.me/2349021325331?text=Hi Are you available commission " target="_blank"><i class='bx bxl-whatsapp'></i></a>
                        
                      </div>
                      
                </div>
              {% endfor %}
            </div>
            
        </div>
    </section>
{% endblock %}
</html>